<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/CSS/home.css">
</head>
<body>
    <div class="box">
        <h1>home page</h1>
        <div class="links">
            <span id="logout"><a href="/signout">Signout</a></span>
            <span id="logout"><a href="/reset">Reset Password</a></span>
        </div>
    </div>
</body>
</html>